/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom css */
.wrapper {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}

.main-header-container {
  background-color: black;
}

.header-container {
  color: yellow;
  padding: 2rem 2rem;
}

.header-heading {
  font-size: 20px;
  text-align: center;
  word-spacing: 0.2rem;
  font-weight: bold;
}

/* MAIN */

/* Navigation */
.navigation-container {
	width: 80%;
	margin: 2rem auto;
	/* border: 1px solid grey; */
}

.navitation-list-container {
	list-style-type: none;
	/* margin: 0 auto; */
}

.list-item {
	display: inline-block;
	font-size: 1.2rem;
	padding: 0 0.1rem;
}

.nav-btn {
	font-size: 1rem;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0.8rem 1rem;
	margin: 0.5rem 0;
}

.nav-btn:hover {
	color: yellow;
}

.active {
	color: yellow;
}

/* Card */

.card-section {
	display: flex;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* margin: 0 0rem; */
}

.card {
	width: 300px;
	height: 200px;
	background-color: black;
	color: white;
	margin: 0.6rem;
	border: 5px solid yellow;
	border-radius: 5px;
	box-shadow: 6px 6px 14px black;
}

.card:hover {
	box-shadow: 2px 2px 4px black;
	/* color: yellow; */
}

.card-top {
	display: flex;
}

.user-header {
	font-size: 1.6rem;
	margin: 1.1rem 0;
}

.card-top > img {
	border: 1px solid white;
	margin: 1.2rem;
}

.card-bottom {
	margin: 1rem;
}

.card-para {
	font-size: 1rem;
	letter-spacing: 0.05rem;
	line-height: 1.2rem;
}